<header class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{.Site.BaseURL}}">
        <span>matusnovak.com</span>
        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
        </span>
      </a>
    </div>
    <div id="navbarMenuHeroC" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/matusnovak">
          GitHub
        </a>
      </div>
    </div>
  </div>
</header>