{{ define "main" }}
<div class="container has-text-centered">
  <h1 class="title">
    Matus Novak
  </h1>
  <h2 class="subtitle">
    Software developer
  </h2>

  <div class="links">
    <a class="button is-outlined is-white" href="https://github.com/matusnovak"><i class="fab fa-lg fa-github"></i> GitHub</a>
    <a class="button is-outlined is-white" href="mailto:email@matusnovak.com"><i class="fas fa-lg fa-envelope"></i> Email</a>
    <a class="button is-outlined is-white" href="pubkey.asc"><i class="fas fa-lg fa-lock"></i> GPG</a>
  </div>
</div>

<style>
#main .links .button > .fa-lg {
  margin-right: 0.5rem;
}
</style>
{{ end }}
